.add-comment{
    text-align: start;
    padding-top: 32px;
    padding-left: 32px;
    padding-bottom: 32px;
    background-color: bisque;
}

.comment{
    background-color: burlywood;
    padding: 15px;
    font-size: large;
    margin-top: 7px;
}

.timestamp {
    background: #747474;
    font-size: 12px;
    width: fit-content;
    padding: 3px;
    border-radius: 5px;
    border: 2px solid;
    margin-bottom: 5px;
}