.about{
    margin-left: 40px;
    margin-top: 20px;
    font-size: large;
}

.download-links{
    width: 100%;
    font-size: 20px;
    background-color: aqua;
    margin: 4px;
    border-radius: 8px;
    padding: 4px 0 4px 0;
}