@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scroll bar for Safari Chrome Opera */
*::-webkit-scrollbar {
    display: none;
}
/* Hide scroll bar for IE Edge Firefox */
*{
    /* IE Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
}

.font-roboto-flex {
    font-family: 'Roboto Flex';
}

.font-bebas-neue {
    font-family: 'Bebas Neue';
}

